/* Recipe Card Home Page */
* {
    background-color: white;
    color: blue;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h2 {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    display: flex;
    justify-content: space-between;
    max-width: 968px;
    margin: auto;
}

/* .header-cart {
    margin: 30px 30px 0px 0px;
} */

.search-bar-input {
    background-color: white;
    border: 2px solid blue;
    box-shadow: 6px 6px blue;
    color: blue;
    padding: 5px;
    min-width: 250px;
    margin-top: 20px;
    height: 17px;
}

.search-bar-icon {
    margin-right: 5px;
}

/* Homepage */
.container {
    max-width: 968px;
    margin: 80.667px auto 0 auto;
}

/* Shopping Cart Button */
.button-nav-cart {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid blue;
    box-shadow: 6px 6px blue;
    padding: 5px;
    min-width: 100px;
    margin-top: 20px;
    height: 30px;
    font-size: 17px;
}

.header-cart {
    margin: auto 2px;
}

span {
    margin: auto 2px;
}

/* Openned cart */
.shopping-cart {
    position: absolute;
    top: 80.667px;
    right: 0;
    z-index: 2;
    width: 400px;
    min-height: 500px;
    background-color: white;
    border: 2px solid blue;
    box-shadow: 12px 12px blue;
    padding: 10px;
}

.shopping-cart h1,
p {
    background-color: inherit;
    margin-left: 10px;
}

.shopping-cart p {
    color: blue;
}

.shopping-cart-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.recipe-cards {
    margin-top: 0;
    margin-bottom: 15px;
}

.recipe-card {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.recipe-card p,
h3 {
    margin: 0;
    padding: 0 5px;
}


.ind-top-half {
    display: flex;
    flex-direction: row;
}

.ind-bottom-half {
    display: flex;
    flex-direction: row;
}

.ind-ingredients {
    min-width: 33%;
}